
<!-- <header>
        <nav class="navbar navbar-expand">
                <a class="sidebar-toggle mr-3"  (click)="menuOnClick()"><i class="fa fa-bars"></i></a>
                <a class="navbar-brand" href="/" >Main</a>
                <div class="navbar-collapse collapse">
                  <ul class="navbar-nav ml-auto">
                    <li *ngIf="isSignIn()" class="nav-item">
                      <a href="#" class="nav-link">
                        <i class="fa fa-envelope"></i>
                        </a>
                    </li>
                    <li  *ngIf="isSignIn()" class="nav-item">
                      <a href="#" class="nav-link">
                        <i class="fa fa-bell"></i>
                        </a>
                    </li>
                    <li  *ngIf="isSignIn()" class="nav-item dropdown">
                      <a href="#" class="nav-link dropdown-toggle" (click)="clicked = !clicked">
                        <i class="fa fa-user"></i>
                        {{username}}
                      </a>
                      <div *ngIf="clicked" class="dropdown-menu show">
                        <a href="#" class="dropdown-item"  routerLink="/user" (click)="clicked = !clicked">Profile</a>
                        <a href="#" class="dropdown-item" (click)="onLogout()">Logout</a>
                      </div>
                    </li>
                    <li *ngIf="!isSignIn()"class="nav-item">
                      <a class="nav-link" routerLink="/signup">Register</a>
                    </li>
                    <li *ngIf="!isSignIn()">
                      <a class="nav-link" routerLink="/signin">Sign in</a>
                    </li>
                  </ul>
                </div>
              </nav>
              
</header> -->
