<h4>Criteria</h4>
<div>
  <table class="table table-bordered">
    <tbody>
      <tr class="table-header">
        <td>Code</td>
        <td style="width: 150px;">Priority</td>
        <td style="width: 110px;">Actions</td>
      </tr>
      <tr>
        <td>
          <div class="row">
            <div class="col-md-10">
              <input type="text" class="form-control">
            </div>
            <div class="col-md-1">
              <button class="btn btn-info" title="Test" (click)="onTest()" >
                    <i class="fas fa-edit"></i>
              </button>
            </div>
          </div>
        </td>
        <td>
          <input type="text" class="form-control" placeholder="0-9999999">
        </td>
        <td>
          <button class="btn btn-success" type="button">
            Create
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

