body {
  font-size: 1.2rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.container-padding {
  padding-top: 30px;
}

app-sign-up,
app-sign-in,
app-campaigns,
app-user,
app-email-alerts,
app-questionnaire {
  margin-top: 30px;
  width: 95%;
}

a {
  color: black;
}

i {
  width: 25px;
  text-align: center;
}